@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

[data-overlay-container="true"] {
  height: 100vh;
  width: 100vw;
}
