/* stylelint-disable scss/at-rule-no-unknown */
@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100dvh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

[data-overlay-container="true"] {
  width: 100vw;
  height: 100vh;
}
